{% extends 'base.html' %}
{% block title %}О технологиях{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <h1 class="text-center">В рамках разработки проекта использовался следующий стэк</h1>
        <h2 class="text-center">Основной стек</h2>
        <ul class="list-group">
            <li class="list-group-item">Python v3.9.10</li>
            <li class="list-group-item">django v2.2.9 </li>
            <li class="list-group-item">Git </li>
        </ul>
        <p></p>
        <h2 class="text-center">Использовалось следующее ПО</h2>
        <ul class="list-group">
            <li class="list-group-item">PyChram PRO</li>
            <li class="list-group-item">BASH </li>
            <li class="list-group-item">DBeaver </li>
        </ul>
        <p></p>
        <h2 class="text-center">Какие навыки использовались</h2>
        <ul class="list-group">
            <li class="list-group-item">HTML</li>
            <li class="list-group-item">Python </li>
            <li class="list-group-item">Django </li>
            <li class="list-group-item">CSS </li>
            <li class="list-group-item">Bootstrap </li>
            <li class="list-group-item">StackOverflow </li>
            <li class="list-group-item">SQL </li>
        </ul>
        <p></p>
    </div>
  </div>
{% endblock %}
