{% extends 'base.html' %}
{% block title %}Об авторе{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <p></p>
      <h1 class="align-middle text-center">Об авторе</h1>
      <p></p>
      <aside class="col-12 col-md-3">
        <img src="https://sun9-74.userapi.com/impg/0mq9kANL_WKCK1fQxIilfyGETIicYzI59gHLqg/WnpMYERCGj8.jpg?size=1025x1536&quality=96&sign=35557daf0fd67e328244255d4aa28734&type=album" width="220" height="330" alt="Это я">
        <p class="fs-5">CEO <span style="color:red">Ya</span>tube PROJECT (я)</p>
      </aside>
      <section class="col-12 col-md-9">
        <article class="col-12 col-md-9">
          <h2>Всем привет!</h2>
          <p >
            Меня зовут Дима, это мой первый проект на питоне и джанго.
          </p>
          <ul class="list-group">
            <li class="list-group-item">Если у меня будут еще какие то проекты, я обязательно выложу их на свой <a href="https://github.com/dimemeslol"> гитхаб </a></li>
            <li class="list-group-item">Если у кого то есть ком. предложения можно написать на мою почту kakdatak11@gmail.com </li>
            <li class="list-group-item">В случае, если кому-то нужен Backend python dev, вот мой <a href="https://www.linkedin.com/in/dima-ivanov-12106125b">линкедин</a> и <a href="https://t.me/domest0s">телеграмм</a> </li>
          </ul>
          <p></p>
          <p>Прикладываю картинку своего рабочего места:))</p>
          <img src="https://i.ibb.co/Bt44gXN/photo-2023-01-23-10-00-21.jpg" alt="photo-2023-01-23-10-00-21" border="0">
        </article>
      </section>
      <h4 class="align-middle text-center">Помогают мне в создании проекта: моя жена и 2 моих котика :)</h4>
    </div>
  </div>
{% endblock %}
